[mysqld]
# mysqlサーバー側が使用する文字コード
character_set_server = utf8mb4
# 照合順序（MySQL8.0を使用する場合のみ設定）
# collation_server = utf8mb4_general_ci
# timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM
# 認証方式をパスワードにする（MySQL8.0を使用する場合のみ設定）
# default-authentication-plugin = mysql_native_password

# Error Log
log-error = /var/log/mysql/mysql-error.log

# Slow Query Log（実行時間が閾値を上回るSQLを出力）
slow_query_log = 1
# Slow Query 出力先
slow_query_log_file = /var/log/mysql/mysql-slow.log
# 閾値（秒）
long_query_time = 5.0
# インデックスされていないSQLを出力対象にする
log_queries_not_using_indexes = 0

# General Log（実行したクエリの全履歴を出力するか）
general_log = 1
# General Log 出力先
general_log_file = /var/log/mysql/mysql-query.log

[mysql]
# デフォルトの文字コード
default-character-set = utf8mb4

[client]
# mysqlのクライアント側が使用する文字コード
default-character-set = utf8mb4
